<!--The content below is only a placeholder and can be replaced.-->
<div style="background-color:lavender;" class="container-fluid">

	<div style="background: #F5F5F5; border-bottom:1px solid #CCC; padding-left:40px; padding-right:40px">
	<div class="row" >
		<h2 class="text-info">
			<img src="/assets/img/logo-2.png" class="img-rounded" alt="logo" width="30" height="40">
			Hurtownia kaktusów
		</h2>
		<app-authentication></app-authentication>
	</div>
</div>
<br>
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-primary">
				<div class="panel-heading">

					<h4><span class="glyphicon glyphicon-envelope"></span> Zgłoszenia </h4>

				</div>
				<div class="panel-body" style="max-height: 400px;overflow-y: scroll;">
					<div class="list-group">
						<app-list-of-mails></app-list-of-mails> <!-- PIERWSZY KOMPONENT-->
					</div>
				</div>
				<div class="panel-footer">
					<app-footer-list-of-mails></app-footer-list-of-mails> <!-- DRUGI KOMPONENT-->
				</div>
			</div>
		</div>

		<div class="col-sm-8">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4><span class="glyphicon glyphicon-list"></span> Treść</h4>
				</div>
				<div class="panel-body" style="height: 400px;overflow-y: scroll;">
					<app-mail-content></app-mail-content> <!-- TRZECI KOMPONENT-->
				</div>
				<div class="panel-footer">
					<app-footer-mail-content></app-footer-mail-content> <!-- CZWARTY KOMPONENT-->
				</div>
			</div>
		</div>
	</div>

	<app-notification></app-notification> <!-- PIĄTY KOMPONENT alerty-->
<br>
<div align="center">&copy; 2018 - GRUPA KAKTUSY</div>
<br><br>
</div>