<div class="media">
	<div class="media-left">
		<img src="img/img_avatar1.png" class="media-object" style="width:60px">
	</div>
	<div class="media-body">
		<h4>Jan Kowalski</h4>
		<p>nadawca: <span class="label label-primary">jan.kowalski@gmail.com</span> 23.10.2018:</p>
	</div>
</div>

<hr>
				 
<blockquote>
	<p class="well" >Hi, <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a sagittis dolor. Suspendisse a hendrerit mi. Vivamus a tincidunt arcu, eu maximus mauris. Curabitur consectetur pulvinar diam, id tempor eros condimentum a. Vivamus aliquet neque ut lectus aliquet blandit eget id felis. Vivamus rhoncus sem elit, quis lacinia nisi mollis ut. Mauris id fringilla erat.</p>
	<footer>z wyrazami szacunku Jan Kowalski</footer>
</blockquote>