<input *ngIf="wrzuc" type="file" (change)="handleUpload($event)" href="#" class="btn btn-primary">

<div class="btn-group btn-group-justified">
	<a *ngIf="odrzuc" (click)="pokazUzasadnienie()" href="#" class="btn btn-primary">Odrzuć</a>
	<a *ngIf="zmien" (click)="pokazWrzuc()" href="#" class="btn btn-primary">Zmień</a>
	<a *ngIf="zatwierdz" (click)="passFurther()" href="#" class="btn btn-primary">Zatwierdź</a>
	<a *ngIf="pobierz" (click)="downloadFile()" href="#" class="btn btn-primary">Pobierz plik</a>
	<a *ngIf="pobierzExcel" (click)="downloadOrderFile()" href="#" class="btn btn-primary">Pobierz plik</a>
	<a *ngIf="pobierzLastStep" (click)="downloadFileMerged()" href="#" class="btn btn-primary">Pobierz scalony plik</a>
	<a *ngIf="zatwierdz" (click)="passFurther()" href="#" class="btn btn-primary">Zatwierdź</a>
</div>

<input *ngIf="uzasadnienieOdrzucenia" id="uzasadnienieOdrzuceniaField" type="text" size="35">

<div class="btn-group btn-group-justified">
	<a *ngIf="zakoncz" href="#" (click)="finishProcess()" class="btn btn-primary">Zakończ</a>
</div>
