<a href="#" class="list-group-item active">
	<h4 class="list-group-item-heading">Title1</h4>
	<p class="list-group-item-text">jan.kowalski@gmail.com</p>
</a>
<a href="#" class="list-group-item">
	<h4 class="list-group-item-heading">Title2</h4>
	<p class="list-group-item-text">jan.kowalski@gmail.com</p>
</a>
					
<a href="#" class="list-group-item">
	<h4 class="list-group-item-heading">Title3</h4>
	<p class="list-group-item-text">jan.kowalski@gmail.com</p>
</a>
					
<a href="#" class="list-group-item">
	<h4 class="list-group-item-heading">Title4</h4>
	<p class="list-group-item-text">jan.kowalski@gmail.com</p>
</a>
					
<a href="#" class="list-group-item">
	<h4 class="list-group-item-heading">Title5</h4>
	<p class="list-group-item-text">jan.kowalski@gmail.com</p>
</a>
					
<a href="#" class="list-group-item">
	<h4 class="list-group-item-heading">Title6</h4>
	<p class="list-group-item-text">jan.kowalski@gmail.com</p>
</a>
					
<a href="#" class="list-group-item">
	<h4 class="list-group-item-heading">Title7</h4>
	<p class="list-group-item-text">jan.kowalski@gmail.com</p>
</a>
					
<a href="#" class="list-group-item">
	<h4 class="list-group-item-heading">Title8</h4>
	<p class="list-group-item-text">jan.kowalski@gmail.com</p>
</a>